body {
    font-family: Montserrat;
}
.nav-wrapper {
    background-color:#2BBACD;
    font-weight: bold;
}

p{
text-align: justify;
}

h1 {
    color:  #5766f0;
    margin: 1rem 30rem;
}


h2 {
    color: #FFFF;
}

h3 {
    color: rgb(19, 19, 165);
}

.formulaire { 
    max-width: 60rem;
    margin: 0 auto;
    font-size: 15px;
    color: rgb(133, 120, 120);
    background-color: #E5D8D8;
    padding: 4rem;
}

.page-footer{
    background-color:#77AA92;
    font-weight: normal;
    font-size: 20px;
    color: #FFFF;
}

.col{ 
    margin: 15px;
    padding: 15px;
}

.accueil {
    background: url("image/report.jpg") bottom/100% no-repeat;
    min-height: 35rem;
}

.contact {
    background: url("image/mobile.jpg") top/100% no-repeat;
    min-height: 35rem;
    background-color: #E5D8D8;
}

.realisations {
    background: url("image/startup.jpg") top/100% no-repeat;
    min-height: 35rem;
}

.blog {
    background: url("image/jasper.jpg") top/100% no-repeat;
    min-height: 35rem;
}

.portait {
    background: url("image/laptop.jpg") top/100% no-repeat;
    min-height: 35rem;
}

.mobile {
    margin-left: 950px;
    
}

.mobile :hover {
    padding-left: 2rem;
    color: #192592;
    font-size: 20px;
    transition: padding-left 2s ease-in-out;
}    

.objet {
    min-width: 200px;
    min-height: 200px;
    position: absolute; 
    animation: maTranslation 6s ease-in 1s 3 ;
}

@keyframes maTranslation{
    0% {
    left:5% ;
    top: 5%;
    border-radius: 0%; 
    background-color: rgba(71, 169, 207, 0.788); 
    }
    25% {
    transform : rotate( 180deg);
    background-color: rgb(124, 16, 101);
    border-radius: 50%;
    left: 85%;
    top: 5%;
    }
    50%{
        background-color: rgb(65, 172, 51); 
        border-radius: 25%; 
        scale: (2);
        left: 85%;
        top: 85%;
    }
    75%{
        background-color: rgb(37, 88, 165); 
        border-radius: 50%; 
        transform : rotate( 180deg);
        left: 0%;
        top: 85%;
    }
    100% {
    transform : rotate( 360deg);
    background-color: rgb(127, 56, 168); 
    border-radius: 0%;  
    left: 5%;
    top: 5%;

    }
}

.card {
    transform:translateX(0%) ;
    animation: scroll 3s ease-in 1s  ;
}

@keyframes scroll{
    0% {
    transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
        }
}     

.w3-modal{
        padding: 1rem;
        border: rgb(139, 158, 102) solid;
        background-color: hsl(214, 50%, 72%); 
        font-size: 20px;
        color: #000 ;
        width: 35rem;
        transform: translate(50% ,50%);
    }
